$multiselectWidth: 350px;
$caputureInputField: 340px;

.input-multiselect {
  min-width: $multiselectWidth !important;
  width: $multiselectWidth !important;
  max-width: $multiselectWidth !important;
}

.sc-jVODtj.cpKKED.sc-Rmtcm.fZMhOZ {
  min-width: $caputureInputField !important;
  width: $caputureInputField !important;
  max-width: $caputureInputField !important;
}

div[data-test-panel-id="relative"],
div[data-test-panel-id="realTime"],
div[data-test-panel-id="advanced"] {
  display: none !important;
}